**/node_modules

.yarn/cache
.yarn/install-state.gz

website/.next
website/build

# Created by node-windows image update service while it is installed. Seems to
# be the same dir as serviceImpl.mjs
scripts/updateService/daemon

packages/docker-entrypoint/dist
