.box {
  border: solid 1px #fff;
  margin: 4px;
}

.boxContent {
  padding: 8px;
}

.title {
  width: 100%;
  padding: 2px 4px 4px;
  background-color: lightblue;
  color: black;
}

.checkboxRoot {
  display: block;
}

.select {
  color: black;
}

.selectLabelSameLine {
  margin-right: 4px;
}

.selectLabelNotSameLine {
  display: block;
}
