.box {
  border: solid 1px #fff;
  margin: 4px;
}

.boxContent {
  padding: 8px;
  padding-bottom: 12px;
}

.title {
  width: 100%;
  padding: 2px 4px 4px;
  background-color: lightblue;
  color: black;
}

.checkboxRoot {
  display: block;
}

.select {
  color: black;
}

.selectLabelSameLine {
  margin-right: 4px;
}

.selectLabelNotSameLine {
  display: block;
}

.subsectionRoot {
  margin-top: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.subsectionRoot.subsectionRootNoTopMargin {
  margin-top: 0px;
}

.subsectionInner {
  padding: 2px 4px;
  color: rgba(255, 255, 255, 0.5);
}

.anim {
  animation-name: color_change;
  animation-duration: 0.75s;
  animation-iteration-count: initial;
}

@keyframes color_change {
  0% {
    background-color: unset;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }

  100% {
    background-color: unset;
  }
}
