.title {
  font-size: 24px;
}

.tableWrapper {
  padding-top: 24px;
}

.table {
  margin: 0 auto;
}

.table td:first-child {
  text-align: right;
  color: #686868;
  padding: 2px 4px 2px 0;
}

.table td:not(:first-child) {
  text-align: left;
}

.bodyText {
  padding-top: 24px;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.buttonsRightBtn {
  margin-left: auto;
}

.centeredButtonsWrapper {
  justify-content: center;
}
