.root {
  position: fixed;
  background-color: #fff;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 1;
}

.contentWrapper {
  width: 450px;
  min-height: 500px;
  padding: 48px 40px 36px;
  border: 1px solid black;
  border-radius: 8px;
}
