.listRoot {
  /* border: solid 1px red; */
  @apply border border-neutral-300 dark:border-neutral-700;
  height: 480px;
}

.rightList {
  @apply ml-2;
}

.rowRoot {
  border-bottom: 1px solid white;
  min-height: 28px;
  @apply border-b border-neutral-300 dark:border-neutral-700;
}

.rowRootChecked {
  @apply bg-white dark:bg-neutral-900;
}

.rowRoot:hover {
  /* background-color: pink; */
  @apply bg-white dark:bg-neutral-700;
}

.rowText {
  @apply ml-2 text-sm;
  /* padding: 2px 0; */
}

/* .root:not(:last-child) { */
/* .root:last-child {
  border-bottom: 10px solid white;
} */

.appearAnim {
  animation-name: color_change;
  animation-duration: 0.75s;
  animation-iteration-count: initial;
}

@keyframes color_change {
  0% {
    background-color: unset;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }

  100% {
    background-color: unset;
  }
}
